{% extends "network/layout.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'network/javascript/LoadFeed.js' %}" type="text/javascript" defer></script>
{% endblock %}

{% block body %}
    <div class="feed">
        <ul class="feed-container" id="feed-container">
            <li>
                <article class="feed-card">
                    <div class="feed-card-header">
                        <img src="https://i.pinimg.com/236x/19/e7/d4/19e7d4903807fd3a4889687f2d800687--k-fashion-ulzzang-boy.jpg" alt="Profile Picture"/>
                        <span>Yuhang Li</span>
                    </div>
                    <div class="feed-card-image">
                        <img src="https://res.cloudinary.com/caradvice/image/private/q_auto/v1592867792/scclsw5etoppigyikhx8.jpg">
                    </div>
                    <div class="feed-card-meta">
                        <div class="interactions">
                            <box-icon name='heart' animation="tada-hover" class="icon"></box-icon>
                            <box-icon name='comment' class="icon"></box-icon>
                        </div>
                        <span>134,000 Likes</span>
                    </div>
                    <div class="feed-card-content">
                        <p>Only up. Look at my new bad baby ;) </p>
                    </div>
                </article>
            </li>

            <li>
                <article class="feed-card">
                    <div class="feed-card-header">
                        <img src="https://static.wixstatic.com/media/a491ae_3608173b93d14dc288b9dfa1f8528135~mv2.png/v1/fit/w_940%2Ch_788%2Cal_c/file.png" alt="Profile Picture"/>
                        <span>Yuhang Li</span>
                    </div>
                    <div class="feed-card-image">
                        <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_gw/aventador/2021/gate_aven_01_m.jpg">
                    </div>
                    <div class="feed-card-meta">
                        <div class="interactions">
                            <box-icon name='heart' animation="tada-hover" class="icon"></box-icon>
                            <box-icon name='comment' class="icon"></box-icon>
                        </div>
                        <span>134,000 Likes</span>
                    </div>
                    <div class="feed-card-content">
                        <p>Only up. Look at my new bad baby ;) </p>
                    </div>
                </article>
            </li>
        </ul>
    </div>
{% endblock %}