@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root
{
    --background-grey: #f2f2f2;
    --background-white: #FFFFFF;
    --primary: #65B781;
    --secondary: #000000;
}

*{
    padding: 0;
    margin: 0;
    background-color: var(--background-grey);
    font-family: 'Inter', sans-serif !important; 
    background-color: rgba(255,255,255,0);
}
body
{
    background-color: var(--background-grey) !important;
}

.navbar
{
    width: 5rem;
    height: 100vh;
    position: fixed;
    display: block;
    background-color: var(--background-white) !important;
    -webkit-box-shadow: 3px 0px 17px -10px rgba(0,0,0,0.60); 
    box-shadow: 3px 0px 17px -10px rgba(0,0,0,0.60);
    padding: 0;
    margin: 0;
    transition: all .300s ease
}


.navbar:hover
{
    width: 15rem;
}

.navbar-nav
{
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: hidden;
}


.navbar-nav li:hover
{
    background: var(--background-grey);
    border-right: 3px solid var(--primary);
}

.navbar-nav li:hover:last-child
{
    margin-top: auto;
    background: var(--background-white) !important;
    border-right: none;
    cursor: initial;
}

.navbar-nav li:last-child
{
    margin-top: auto;
}

.navbar-nav li
{
    width: 100%;
    padding: 1.5rem 1rem;
    cursor: pointer;
    transition: background .8s ease;
}

.navbar-nav li a
{
    width: 13rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 3rem;
    text-decoration: none;
    color: var(--secondary);
}

.navbar-nav li a div
{
    width: 3rem;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0);
}

.profileImage
{
    border-radius: 50%;
    width: 3rem;
}

.companyImage
{
    width: 3rem;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-radius: 1rem;
}

.navbar-image
{
    width: 2rem;
    overflow-clip-margin: content-box;
    overflow: clip;
    background-color: rgba(255,255,255,0);
}


.main
{
    padding-left: 5rem;
}

body{
    overflow-x: hidden;
    min-height: 100vh;
}

.createPostPopup
{
    visibility: hidden;
    display: grid;
    place-content: center;
    z-index: 99;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: #000000;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.7);
}

.createPostPopup.show
{
    visibility: visible;
}

.createPostPopup.close
{
    animation: invisible .3s forwards;
    visibility: hidden;
}

.createPostPopup > *{
    opacity: 1;
}

#createPostPopup-form
{
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    box-sizing: border-box !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: scale(0);
    width: 30rem;
}
.createPostPopup.show form
{
    transform: scale(1);
    animation: zoomIn .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.createPostPopup.close form
{
    transform: scale(0);
    animation: zoomOut .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) backwards;
}



#createPostPopup-form .heading
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#createPostPopup-form .input-fields
{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#createPostPopup-form .input-fields textarea
{
    resize: none !important;
}

#createPostPopup-image-display
{
    position: relative;
    width: 100%;
    height: 20vh;
}

.createPostImagePreview
{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.feed
{
    width: 100%;
    min-height: 100vh;
    padding: 2rem 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-container
{
    gap: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
}


.feed-card
{
    width: 400px;
    height: 540px;
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 223, 223);
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.3rem;
}

.feed-card-header
{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.feed-card-header img
{
    object-fit: contain;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.feed-card-image
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 54%;
}

.feed-card-image img
{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.feed-card-meta
{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feed-card-meta span
{
    font-weight: 600;
}

.feed-card-meta .interactions
{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.feed-card-meta .interactions .icon
{
    width: 30px;
    height: 30px;
}

.feed-card-content
{
    height: 10%;
}

.feed-card-content p
{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
}

@keyframes zoomIn {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes invisible {
    0%{
        visibility: visible;
    }
    99%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

.post-card
{
    width: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.post-card-header
{
    display: flex;
    flex-direction: row;
}

.post-card-header .profile-img-container
{
    width: 12%;
    aspect-ratio: 1;
    display: block;
}

.post-card-header .profile-img-container img
{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

